.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 10px;
    /* justify-content: center; */
    width: 400px;
    height: 300px;
    /* opacity: 0.9; */
    background-color: #2C2C2C;
    /* overflow: auto;
    margin: 0 auto; */
    /* align-items: center; */
    /* justify-content: center; */
}

@media (min-width: 1440px) {
    .popup-content {
        width: 600px;
        height: 500px;
    }
}